# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Graphics_card_research.settings

[deploy]
#url = http://localhost:6800/
project = Graphics_card_research
